{% extends 'base.html' %}
{% block content %}

<div class="container">
	<ul class="collapsible">
		{% for task in tasks %}
		<li>
			<div class="collapsible-header"><i class="material-icons">expand_more</i>
				<strong>{{ task.task_name }}</strong> - {{ task.due_date }}
			</div>
			<div class="collapsible-body"><span><strong>Notes:</strong> {{ task.task_description }}</span>
				<p><strong>Category:</strong> {{ task.category_name }}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}